

body {
  background-color: #ffffff;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
}


    /* Navigation bar styles */
    .Top-Nav {
      display: flex;
      justify-content: space-around;
      background-color: #646464;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 98%; 
      padding: 10px 0;
    }

    /* Button link styles */
    .Top-Nav a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      background-color: #959595;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .Top-Nav a:hover {
      background-color: #929292;
    }
  

h1{
  font-size: 25px;
}

.TextClass{
text-align: left;

}