body {
  background-color: #ffffff;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
}

h1{
  font-size: large;
}

.TextClass{
text-align: left;

}